version: "3.9"
services:
  mongo:
    image: mongo:6
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  ml-service:
    build:
      context: "./server/ml models/IOT project"
    restart: unless-stopped
    environment:
      - YOLO_WEIGHTS=/app/runs/train/weights/best.pt
      - DB_PATH=/app/app/data/app.db
    ports:
      - "8000:8000"

  server:
    build:
      context: ./server
    restart: unless-stopped
    environment:
      - NODE_ENV=production
      - PORT=5000
      - MONGO_URI=mongodb://mongo:27017/messdb
      - JWT_SECRET_KEY=change_me_in_prod
      - FRONTEND_URL=http://localhost
      - ML_SERVICE_URL=http://ml-service:8000
    depends_on:
      - mongo
      - ml-service
    ports:
      - "5000:5000"

  client:
    build:
      context: ./client
      args:
        VITE_API_URL: http://localhost:5000/api
    restart: unless-stopped
    ports:
      - "5173:80"
    depends_on:
      - server

volumes:
  mongo_data:
